@import '../../../node_modules/normalize-scss/sass/normalize/import-now';
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/table/lib/css/table.css";

$titleSize: 28px;
$titleWeight: 500;

$labelSize: 20px;
$labelWeight: 500;


body {
  background: #white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  line-height: 1.5;
}

// TODO replace the absolute values used in the demo, with responsive design

#ea-main {
    position: absolute;
    left: 342px;
    top: 50px;
}

#ea-enter-amount {
  position: absolute;
  width: 400px;
  font-size: $titleSize;
  font-weight: $titleWeight;
  left: 0px;
  top: 0px;
}

#ea-keypad {
  position:absolute;
  top: 100px;
  width: 380px;
  height: 480px;
}

#ea-number-input {
  position: absolute;
  left: 0px;
  top: 80px;
  width: 40px;
}

#ea-fiat-currency {
  position: absolute;
  font-size: 16px;
  left: 150px;
  top: 88px;
}

#ea-qrcodetype {
  position: absolute;
  left: 218px;
  top: 64px;
  width: 40px;
}


#ea-go-button {
  position: absolute;
  font-size: 16px;
  left: 474px;
  top: 64px;
}

#fa-main {
    position: absolute;
    left: 40px;
    top: 180px;
}

#fa-title {
    position: absolute;
    width: 200px;
    font-size: $labelSize;
    font-weight: $labelWeight;
    left: 0px;
    top: 0px;
}

#fa-value {
    position: absolute;
    font-size: 20px;
    left: 0px;
    top: 32px;
}

#er-main {
    position: absolute;
    left: 40px;
    top: 280px;
}

#er-title {
    position: absolute;
    width: 200px;
    font-size: $labelSize;
    font-weight: $labelWeight;
    left: 0px;
    top: 0px;
}

#er-value {
    position: absolute;
    font-size: 20px;
    left: 0px;
    top: 32px;
}

#ba-main {
    position: absolute;
    left: 40px;
    top: 380px;
}

#ba-title {
    position: absolute;
    width: 400px;
    font-size: $labelSize;
    font-weight: $labelWeight;
    left: 0px;
    top: 0px;
}

#ba-value {
    position: absolute;
    font-size: 20px;
    left: 0px;
    top: 32px;
}

#qr-main {
    position: absolute;
    left: 444px;
    top: 120px;
}

#lo-main {
    position: absolute;
    width: 400px;
    left: 40px;
    top: 40px;

    img.logo {
      max-width: 100%;
      height: 124px;
    }
}

#sm-main {
    position: absolute;
    left: 40px;
    top: 420px;
}

#sm-message {
    position: absolute;
    font-size: 20px;
    width: 400px;
    font-size: $labelSize;
    font-weight: $labelWeight;

    left: 0px;
    top: 180px;
}

#sm-spinner {
    position: absolute;

    left: 0px;
    top: 60px;
}

#ho-buttons {
    position: absolute;
    left: 300px;
    top: 40px;

    font-size: $titleSize;
    font-weight: $titleWeight;
}

#ho-pay-bill {
  position: absolute;
  width: 400px;
  left: 0px;
  top: 0px;
}

#ho-view-transactions {
  position: absolute;
  width: 400px;
  left: 0px;
  top: 80px;
}

#ho-settings {
  position: absolute;
  width: 400px;
  left: 0px;
  top: 160px;
}

#ho-about {
  position: absolute;
  width: 400px;
  left: 0px;
  top: 240px;
}

#ho-help {
  position: absolute;
  width: 400px;
  left: 0px;
  top: 320px;
}

#hb-main {
  position: absolute;
  width: 0px;
  left: 984px;
  top: 40px;
}

#hb-button {
  position: relative;
  right: 140px;
  top: 0px;
}

#cb-main {
  position: absolute;
  width: 100px;
  left: 984px;
  top: 40px;
}

#cb-button {
  position: relative;
  right: 140px;
  top: 0px;
}

#nb-main {
  position: absolute;
  width: 100px;
  left: 984px;
  top: 40px;
}

#nb-button {
  position: relative;
  right: 140px;
  top: 0px;
}

#qt-main {
  position: absolute;
  width: 360px;
  left: 984px;
  top: 40px;
}

#qt-radio {
  position: relative;
  font-size: $labelSize;
  font-weight: $labelWeight;
  right: 540px;
  top: 0px;
}

#vt-title {
  position: absolute;
  font-size: $titleSize;
  font-weight: $titleWeight;
  left: 440px;
  top: 40px;
}

#vt-switch {
  position: absolute;
  font-size: $labelSize;
  font-weight: $labelWeight;
  left: 440px;
  top: 140px;
}

#vt-table {
  position: absolute;
  font-size: $titleSize;
  font-weight: $titleWeight;
  left: 40px;
  top: 200px;
}

#se-title {
  position: absolute;
  font-size: $titleSize;
  font-weight: $titleWeight;
  left: 440px;
  top: 40px;
}

#ab-title {
  position: absolute;
  font-size: $titleSize;
  font-weight: $titleWeight;
  left: 440px;
  top: 40px;
}

#hp-title {
  position: absolute;
  font-size: $titleSize;
  font-weight: $titleWeight;
  left: 440px;
  top: 40px;
}
